:root{
    --dark-color: rgb(247, 244, 241);
    --green-color: hsla(0, 20%, 94%, 0.67);
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 10000px;
    
   
}

/*Start Navbar*/
.navbar {
    background-color: var(--dark-color);
    color: rgb(69, 67, 67);
   
}
.navbar .navbar-nav .nav-link{
    color: rgb(69, 67, 67);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
  
    color: var( --green-color) ;
}

/*End Navbar*/
.container{
    height: 60px;
    position: relative;

}
.a.navbar-brand{
    width: 20px;
    height: 20px;
    background-color: brown;
}
.navbar-brand{
   color: brown;
}
